:root {
    --open: #2e9e42;
    --partial: #b6b839;
    --closed: #9e2e2e;
}

html {
    background-color: #171917;
    color: #cdccbe;
    font-family: Helvetica, Arial, Sans-Serif;
}

body {
    background-color: #1E1F1C;
    max-width: 880px;
    margin: 0 auto;
    padding: 0.1rem 2rem;
}

@media only screen and (max-width: 880px) {
    body {
        padding: 0.1rem 0;
    }
  }

h1, h2 {
    text-align: center;
}

hr {
    width: 75%;
    margin: 0.2rem auto;
}

.center {
    text-align: center;
}

.content {
    background-color: #262724;
    margin: 1rem 1rem;
    padding: 1.5rem;

    box-shadow: 2px 4px 11px 4px #00000063;
}

@media only screen and (max-width: 420px) {
    .content {
        margin: 1.5rem 0;
        padding: 1.5rem;
    }
}

.content.notice {
    text-align: center;
    border-left: 12px solid #cdccbe;
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.content .title {
    font-size: 200%;
    display: flex;
}

.content.open {
    border-left: 12px solid var(--open);
}

.content.partial {
    border-left: 12px solid var(--partial);
}

.content.closed {
    border-left: 12px solid var(--closed);
}

.content.open .title + p {
    border-top: 2px solid var(--open);
}

.content.partial .title + p {
    border-top: 2px solid var(--partial);
}

.content.closed .title + p {
    border-top: 2px solid var(--closed);
}

.content .title + p:first-of-type {
    margin-top: 0.6rem;
    padding-top: 0.8rem;
}

.content .title::after {
    color: #1E1F1C;
    font-size: 1rem;
    font-weight: 400;

    margin-left: 1rem;
    padding: 0.2rem;

    border-radius: 6px;
    box-shadow: 2px 4px 11px 4px #00000063;

    align-self: center;
}

.content.open .title::after {
    content: 'OPEN';
    background-color: var(--open);
}

.content.partial .title::after {
    content: 'PARTIAL';
    background-color: var(--partial);
}

.content.closed .title::after {
    content: 'CLOSED';
    background-color: var(--closed);
}

.content p:first-of-type {
    margin-top: 0.2rem;
}

.content p:last-child {
    margin-bottom: 0.2rem;
}

footer {
    color: #484c48;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}